// scss-lint:disable all
.tool-home {
	.tool-section, section {
		font-size: 0.8em;
		.tool-section__inner, .wp-block-columns {
			padding: 3rem;
			max-width: 1400px;
			margin: 2rem auto;
		}
	}

	section>p {
		padding:  1rem 3rem;
		max-width: 1400px;
		margin: 0 auto;
	}

	.tool-home__masthead {
		display: flex;
		@include media('<desktop') { &{flex-wrap: wrap;}}
		padding:  1rem 3rem;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: 4rem;

		.blurb {
			@include media('>tablet') { &{width: 80%;}}
			flex-grow: 2;
		}
		.tool-feature {
			flex-grow: 1;
			width: 100%;
		}
	}
}
