.teacherpage,
.parentpage,
.page {
  padding: .5rem;
  .entry-title {
    max-width: 1400px;
    margin: 2rem auto;
  }
  .entry-content,
  section {
    font-size: 0.8em;
    .wp-block-columns, &>* {
      max-width: 1400px;
      margin: 2rem auto;
    }
  }
}
