h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: $c__text-heading;
  font-family: $font__head;
  font-weight: 300;
}

h4, h5, h6 { font-weight: 700; }

.entry-title {
  @include font-size(3);
}
.section-title {
  @include font-size(2);
}

h1 {
	@include font-size(2);
  letter-spacing: 1px;
	line-height: 1.3;

	@inlcude media('>tablet') {
		@include font-size(2.5);
	}
}

