// Fluid Type Definitions
$ft__min-width: 500px;
$ft__max-width: 2000px;
$ft__min-font: 14px;
$ft__max-font: 22px;

.o-wrapper {
  max-width: 940px;
  margin-right: auto;
  margin-left:  auto;
  padding-right: 10px;
  padding-left:  10px;
}
