a {
	color: inherit;

	&:visited {
		color: $c__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $c__link-hover;
	}
	&:focus {
		outline: 1px solid rgba($c__link-hover, 0.5);
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
