

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritance in all browsers (opinionated).
 */
*,
::before,
::after,
*:before,
*:after  {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
	text-decoration: inherit;
	vertical-align: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}


/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */

html {
	box-sizing: border-box; /* 1 */
	cursor: default; /* 2 */
	-ms-text-size-adjust: 100%; /* 3 */
	-webkit-text-size-adjust: 100%; /* 3 */
}


body {
	font-size: 62.5%;
	background: $c__background-body; /* Fallback for when there is no custom background color defined. */
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

hr {
	background-color: $c__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}