// Definitions
// -----------

$color__brand-teal: #4BB9AA;
$color__brand-blue: #309bf8;
$color__brand-grey: #EBEEF1;
$color__brand-white: #fff;
$color__brand-charcoal: #3B3B3B;
$color__brand-blue--dark: #216ff9;

// color Element bg associations
$color__bg-body: #fff;
$color__bg-screen: #f1f1f1;
$color__bg-hr: #ccc;
$color__bg-button: #2776e3;
$color__bg-pre: #eee;
$color__bg-ins: #fff9c0;

// color text Associations
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__text-main: #404040;
$color__text-heading: #000000;

$color__text-button: $color__brand-grey;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// color Element Border associations
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #566;

// color UI Associations
$color__bg-nav: $color__brand-blue;
$color__bg-footer: $color__brand-charcoal;
$color__bg-gnav:  #0b1d30;

// Aliases
$black: #000;
$white: #fff;
