#colophon {
	min-height: 15em;
	background: $c__brand-grey;
	padding: 1em;
	.site-footer__inner {
		display: flex;
		flex-wrap: wrap;
	}

	.menu {
		width: 100%;
		border-top: 1px solid $c__brand-charcoal;
		margin: 1em;
		padding: 1em 0;
		list-style-type: none;
	}

	.menu-item {
		a {
			color: $c__brand-charcoal;
			text-decoration: none;
			font-size: 12px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}

	}

	.logos {
		margin-right: 2rem;
		display: flex;
		// a {
		// 	max-width: 180px;
		// 	width: 100%;
		// 	height: 100%;
		// 	max-height: 50px;
		// 	display: inline-block;
		// 	margin: 1em;
		// }
		// img {
		// 	height: 100%;
		// 	width: auto;
		// }
	}
}