
@import 'parts/article';
@import 'parts/footer';

@import 'tool/tool';
@import 'tool/tool-home';

@import 'singletons/homepage';
@import 'singletons/stories';
@import 'singletons/404';

// sticky footer
html, body {
  height: 100%;
}
.site {
	height: 100%;
  display: flex;
  flex-direction: column;
}
.site-content {
  flex: 1 0 auto;
}
.site-footer {
  flex-shrink: 0;
}
