#colophon {
	background: $c__brand-grey;
	border-top: 3px solid $c__brand-blue_dark;
	.site-footer__inner {
		padding: 1em;
		max-width: 1400px;
		margin: 1em auto;
	}

	.menu {
		width: 100%;
		box-model: border-box;
		list-style-type: none;
		margin: -.4rem 0;
		padding: 0;
		display: flex;
		text-align: center;
	}

	.menu-item {
		padding: .4rem;
		border-radius: 4px;
		break-inside: avoid;
		a {
			display: block;
			color: $c__brand-charcoal;
			font-size: 12px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		&:hover, &:focus {
			background: rgba(25, 25, 25, 0.08);
		}
	}

	.copyright {
		background: $c__brand-charcoal;
		color: $c__brand-grey;
		text-align: center;
		padding: .7rem;
		@include font-size(.8);
	}
}
