#stories__by-theme, #stories__by-cat {
	opacity: 0;
	visibility: hidden;
	transition-delay: 0, 200ms;
	transition-property: opacity, visibility;
	transition-duration: 0, 200ms;
	height: 0;

}

#stories__by-theme.selected, #stories__by-cat.selected {
	visibility: visible;
	opacity: 1;
	transition-property: visibility, opacity;
	transition-delay: 0;
	height: auto;
}

#stories__by-cat {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 2;
	grid-column-gap: 10px;

	.category-card {
		width: 100%;
		border-radius: 4px;
		box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.06);
		margin-top: 1em;
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			max-height: 100px;
		}
		h3 {
			@include font-size(1);
			margin: 0;
			padding: 1em 4px 4px 4px;
			font-style: italic;
			color: $c__brand-blue;
		}
		span {
			color: #bbb;
			font-family: $font__code;
			@include font-size(.41);
			padding: 0 4px;
		}
		a {
			text-decoration: none;
		}
	}
}

#stories__by-theme {
	margin-bottom: 1em;

	.theme-card {
		height: 0;
		margin-top: 4px;
		width: 100%;
		border-radius: 4px;
		box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.03);
		transition: background .2s ease;
		pointer: cursor;

		&:hover {
			background: #fafafa
		}
		a {
			text-decoration: none;
			width: 100%;
			display: block;
			padding: .8em;
		}

	}
	&.selected .theme-card {height: auto;}
}

#drilldown {

	#backone { // button elelm for interactivity, styled to look like text
		background: transparent;
		padding: 0;
		margin: 0;
		border: none;
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
		font-family: inherit;
	}
	#theme-meta__header, #cat-meta__header {
		h2 {
			margin: 0;
		}
		span { // extend above rule
			color: #bbb;
			font-family: $font__code;
			@include font-size(.41);
			font-weight: normal;
			font-family: 'Roboto';
			text-transform: uppercase;
			margin-bottom: 2rem;
			display: block;
		}
	}

	#theme-meta__list, #cat-meta__list {
		padding: 0;
		.story {
			margin-top: 1em;
			padding: 10px;
			box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.03);
			&:hover {
				box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.08);
			}
			h3 {
				margin: 2px 0 4px 0;
			}
			p {
				margin-top: 0;
				opacity: 0.8;
			}
		}
	}
}


