
// mobile first you fuck
.site-main {
	min-height: 98vh;
	.hentry {
		padding: 1.2rem;
		.entry-title {
			margin-top: 0;
			@include font-size(2);
		}
		.entry-content {
			p {
				@include font-size(.9);
				opacity: 0.9;
				// letter-spacing: .9px;
			}
		}
	}
}

.entry-content {
	p {
		max-width: 700px;
	}
}

@import 'parts/article';
@import 'parts/footer';

@import 'tool/tool';
@import 'tool/tool-home';

@import 'singletons/homepage';
@import 'singletons/stories';