@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src:
		local(".SFNSText-Light"),
		local(".HelveticaNeueDeskInterface-Light"),
		local(".LucidaGrandeUI"),
		local("Ubuntu Light"),
		local("Segoe UI Light"),
		local("Roboto-Light"),
		local("DroidSans"),
		local("Tahoma");
}


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	background-color: $color__bg-hr;
	border: 0;
	margin-bottom: 1.5em;
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Reset
 * Adds the correct display in IE 9-.
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, canvas,
form, fieldset, legend,
figure, main, details,
article, aside, footer,
header, nav, section,
table, th, td, caption,
hr {
	margin:  0;
	padding: 0;
	display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
	list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 * Note that Safari 6 exhibits a duplicate application of `bolder`
 * Place 'f-w: inherit' before this definition to fix.
 */
b, strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
	background-color: #ffff00;
	color: #000000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

@supports (font-variant-position: super) {
	sup {
		top: initial;
		font-variant-position: super;
	}
}
