img {
  max-width: 100%;
  height: auto; // Make sure images are scaled correctly.
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10.
}

/**
 * Add the correct margin in IE 8.
 */
figure {
	margin: 1em 40px;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
	fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
	overflow: hidden;
}
