button,
a.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	// border: 1px solid;
	//border-color: $c__border-button;
	border-radius: 50px;
	background: $c__background-button;
	color: $c__text-button;
	@include font-size(0.7);
	font-weight: light;
	line-height: 1;
	letter-spacing: 1.1px;
	padding: .7em 1.3em .6em 1.3em;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 300;

	&:hover {
		// border-color: $c__border-button-hover;
	}

	&:active,
	&:focus {
		// border-color: $c__border-button-focus;
	}

	@include media('>tablet') {

	}
}


