button,
a.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	// border: 1px solid;
	//border-color: $c__border-button;
	border-radius: 50px;
	background: $c__background-button;
	color: $c__text-button;
	@include font-size(0.7);
	font-weight: light;
	line-height: 1;
	letter-spacing: 1.1px;
	padding: .7em 1.3em .6em 1.3em;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 300;

	&:hover {
		// border-color: $c__border-button-hover;
	}

	&:active,
	&:focus {
		// border-color: $c__border-button-focus;
	}

	@include media('>tablet') {

	}
}


// via https://codepen.io/personable/pen/stpwD
.toggle {
	position: relative;

	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0; left: 0;

		&[disabled] ~ label {
			pointer-events: none;
			.toggle__switch { opacity: 0.4; }
		}

		&:checked {
			~ label {
				.toggle__switch {
					&:before {
						content: attr(data-unchecked);
						left: 0;
					}
					&:after {
						content: attr(data-checked);
					}
				}
			}
			&:focus, &:hover {
				~ label {
				}
			}
		}
	}

	label {
		user-select: none;
		position: relative;
		display: flex;
		align-items: center;

		.toggle__label-text {
			flex: 1;
			padding-left: 32px;
		}

		.toggle__switch {
			position: relative;

			&:before {
				content: attr(data-checked);
				position: absolute;
				top: 0;
				text-transform: uppercase;
				text-align: center;
			}

			&:after {
				content: attr(data-unchecked);
				position: absolute;
				z-index: 5;
				text-transform: uppercase;
				text-align: center;
				background: white;
				transform: translate3d(0,0,0);
			}
		}
	}

	// Default values for .toggle class
	@include toggle-branding($toggle-on-color: $c__brand-blue);
	@include toggle-appearance;

	&.wide {
		@include toggle-appearance (
			100%,  // Toggle width
			30px,  // Toggle height
			4px,   // Toggle border radius
			2px,   // Offset (distance btw switch and box)
			8px,   // Label font size
			10px,  // Switch font size
			0 4px 4px rgba(black, 0.1),
			true   // uses percents
    );
	}
}