
@import '01-settings/settings.colors'; // calls everything within folder
@import '01-settings/settings.type';

body.login {
	// @extend %b-white;
	// @extend %c-green;
	background: $color__brand-grey;
	font-family: $font__sans-serif;
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
	background-image: url(../icons/CSLP_minimal.png);
	background-image: none,url(../icons/CSLP_minimal.svg);
}
body.login div#login form#loginform {}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {
	font-size: 12px;
}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
	background: lighten($color__bg-button, 5%);
	border-color: lighten($color__bg-button, 5%) #{$color__bg-button} #{$color__bg-button};
	box-shadow: 0 1px 0 #{$color__bg-button};
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

.login #login_error, .login .message, .login .success {
	border-color: $color__bg-button;
}

body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}
