// Definitions
// -----------

$c__brand-teal: #4BB9AA;
$c__brand-blue: #309bf8;
$c__brand-grey: #EBEEF1;
$c__brand-white: #fff;
$c__brand-charcoal: #3B3B3B;

$c__brand-blue_dark: #216ff9;

// -----------


// Element bg associations
$c__background-body: #fff;
$c__background-screen: #f1f1f1;
$c__background-hr: #ccc;
$c__background-button: #2776e3;
$c__background-pre: #eee;
$c__background-ins: #fff9c0;

// Text Associations
$c__text-screen: #21759b;
$c__text-input: #666;
$c__text-input-focus: #111;

$c__text-main: #404040;
$c__text-heading: #000000;

$c__text-button: $c__brand-grey;

$c__link: royalblue;
$c__link-visited: purple;
$c__link-hover: midnightblue;



// Element Border associations
$c__border-button: #ccc #ccc #bbb;
$c__border-button-hover: #ccc #bbb #aaa;
$c__border-button-focus: #aaa #bbb #bbb;
$c__border-input: #ccc;
$c__border-abbr: #566;

// UI Associations
$c__background-nav: $c__brand-blue;
$c__background-footer: $c__brand-charcoal;
$c__background-gnav:  #0b1d30;