// Typography
$font__head: 'Roboto', sans-serif;
$font__main: 'Lato', sans-serif;
$font__mono: 'IBM Plex Mono', Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__code: $font__mono;
$font__pre: $font__mono;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__mono-bold: 700;
$font__main-bold: 700;